{% extends 'base.html' %}
{% block content %}

<div class="card" >
      
    <h2 class="center-align" style="font-size: 60px;text-align: center;">{{ event.event_name }}'s Details</h2>

    
        <div class="card-stacked">
            <div class="card-content">
            <p><strong style="text-decoration: underline; font-size: large;">Date: </strong> {{ event.event_date }}</p>
            <p><strong style="text-decoration: underline; font-size: large;">Location: </strong> {{ event.location }}</p>
            <p><strong style="text-decoration: underline; font-size: large;">Type: </strong> {{ event.get_event_type_display }}</p>
            <p><strong style="text-decoration: underline; font-size: large;">Description:</strong> {{ event.description }}</p>
            <p><strong style="text-decoration: underline; font-size: large;">Total Cost: </strong>{{ total_cost }}</p>
        </div>
        <div class="card-action">
            <a class="waves-effect waves-light btn black" href="{% url 'event_update' event.id %}">Edit</a>
            <a  class=" waves-effect waves-light btn black" href="{% url 'event_delete' event.id %}">Delete</a>
        </div>
    </div>
</div>

<div class="row map row" >
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content" >
                
                <div class="map-container">
                    <iframe
                    width="250%"
                    height="800px"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDaYfi9oyToekXnn6qxxwh23YJKToCqB5Q
                        &q={{query}}">
                </iframe>
            </div>
        </div>
        </div>
        </div>
    
            <div class="row vendors-row">
                
                <h2 class="center-align event-name">{{ event.event_name }}'s Vendors</h2>
                {% if event.vendor_set.all.count %}
                {% for vendor in event.vendor_set.all %}
                <div class="col s12 m6 l4"
                <a href="{% url 'vendor_detail' vendor.id %}">
                    
                        
                    
                    <div class="card" style="display:flexbox;position: relative; width: 400px; background-color: antiquewhite;" >
                            <span class="card-title">{{ vendor.vendor_name }}</span>
                            <p > <strong style="text-decoration: underline; font-size: large;"> Category: </strong> {{ vendor.get_category_display }} </p>
                            <p> <strong style="text-decoration: underline; font-size: large;">Description: </strong>{{ vendor.description }}</p>
                        </div></a>
                        <form action="{% url 'disassoc_vendor' vendor.id event.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn" value="Remove Vendor" style="background-color: black; align-items: center;width: 280px;">
                        </form>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h5>No Vendors :(</h5>
                    {% endif %}
                </div>
            </div>
            </div>
            </div>
            <script>
            
                const dateEl = document.querySelector('#id_event_date');
                M.Datepicker.init(dateEl, {
                    format: 'yyyy-mm-dd', // this how django formats the date in the model
                    defaultDate: new Date(),
                    setDefaultDate: true,
                    autoClose: true
                })
            </script>
    
    
    {% endblock %}