{% extends 'base.html' %}
{% block content %}
<div id="events-detail-all">
<div id="top-events-detail">
<div class="card" >
      
    <h2 class="center-align" style="font-family: 'Bruno Ace', cursive; margin-bottom: 0px !important; font-size: 60px;text-align: center;">{{ event.event_name }}'s Details</h2>

    
        <div class="card-stacked">
            <div id="event-detail-card" class="card-content">
                <div id="event-card-left">
                    <p><strong style="color: grey; font-size: large;">Date: </strong> <br>{{ event.event_date }}</p><br>
                    <p><strong style="color: grey; font-size: large;">Location: </strong> <br>{{ event.location }}</p><br>
                    <p><strong style="color: grey; font-size: large;">Type: </strong> <br>{{ event.get_event_type_display }}</p><br>
                </div>
                <div id="event-card-right">
                    <p><strong style="color: grey; font-size: large;">Total Cost: </strong> <br>{{ total_cost }}</p><br>
                    <p><strong style="color: grey; font-size: large;">Description:</strong> <br>{{ event.description }}</p><br>
                </div>
            

        </div>
        <div class="card-action">
            <a class="waves-effect waves-light btn black" href="{% url 'event_update' event.id %}">Edit</a>
            <a  class=" waves-effect waves-light btn black" href="{% url 'event_delete' event.id %}">Delete</a>
        </div>
    </div>
</div>
         
                <div class="map-container">
                    <iframe
                    width="490px"
                    height="480px"
        
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key={{key}}&q={{query}}">
                </iframe>

            </div>
</div>
        <h2 class="center-align event-name" style="font-family: 'Bruno Ace'">{{ event.event_name }}'s Vendors</h2>
            <div id="vendor-area">
                {% if event.vendor_set.all.count %}
                {% for vendor in event.vendor_set.all %}
                <div id="vendor-on-event" class="col s12 m6 l4"
                <a href="{% url 'vendor_detail' vendor.id %}">
                    
                        
                    
                    <div class="card" style="display:flexbox;position: relative; width: 400px; background-color: antiquewhite;" >
                            <span class="card-title">{{ vendor.vendor_name }}</span>
                            <p > <strong style="text-decoration: underline; font-size: large;"> Category: <br></strong> {{ vendor.get_category_display }} </p>
                            <p> <strong style="text-decoration: underline; font-size: large;">Description: <br></strong>{{ vendor.description }}</p>
                        </div></a>
                        <form action="{% url 'disassoc_vendor' vendor.id event.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn" value="Remove Vendor" style="background-color: black; align-items: center;width: 280px;">
                        </form>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h5>No Vendors :(</h5>
                    {% endif %}
                </div>
            </div>
            </div>
            </div>
        </div>
            <script>
            
                const dateEl = document.querySelector('#id_event_date');
                M.Datepicker.init(dateEl, {
                    format: 'yyyy-mm-dd', // this how django formats the date in the model
                    defaultDate: new Date(),
                    setDefaultDate: true,
                    autoClose: true
                })
            </script>
    
    
    {% endblock %}