{% extends 'base.html' %}


{% block content %}

{% if object %}

	<h2 class="center-align">Edit <span class="teal-text">{{object.event_name}}</span></h2>
{% else %}
<div style="position: relative; height: 0;">
  <h3 style="text-align: center; width: 40%; background-color: black; color: antiquewhite; border-radius: 20%; align-self: baseline; top: 50%; margin-top: -20px; position: absolute; left: 50%; transform: translateX(-50%);justify-content: center;" class="center-align">Add an Event</h3>
	
</div>  
{% endif %}

<form action="" method="POST"  style="align-self: center; margin-top: 70px; justify-content:center; align-items: center; ">
	{% csrf_token %}
	<table style="display: contents; justify-self: unset; align-items: center;  ">
		{{ form.as_table}}
	</table>
  
	<button type="submit" class="btn" style="background-color: slategray; color: white; border: none; padding: 10px 20px;
  border-radius: 5px; font-size: 16px; width: 180px; height: 50px; text-align: center; margin:0 auto;">Submit</button>
</form>
</div>
<script>
	const eventdateEl = document.getElementById('id_event_date');
	M.Datepicker.init(eventdateEl, {
		format: 'yyyy-mm-dd', 
		defaultDate: new Date(),
		setDefaultDate: true,
		autoClose: true
	})

	const selectEl = document.getElementById('id_event_type');
	M.FormSelect.init(selectEl)

    const eventstart = document.getElementById('id_start_time');
    const eventend = document.getElementById('id_end_time');
    M.Timepicker.init(eventstart, twelveHour=false)
    M.Timepicker.init(eventend, twelveHour=false)
</script>

{% endblock content %}