{% extends 'base.html' %}


{% block content %}
<div class="row" >
  <div class="col s12">
{% if object %}

	<h2 class="center-align">Edit <span class="teal-text">{{object.event_name}}</span></h2>

{% else %}
<div style="background-color: #333333; padding: 20px; width:650px;border-radius: 50%; margin-top: 20px;">
  <h2 style="text-align: center; color: white; ">Add an Event</h2>
  </div>

   
{% endif %}

<form action="" method="POST"  style="align-self: center; text-align: center; margin-top: 70px;"  >
	{% csrf_token %}
	<table style="margin: 0 auto; color: #333; width: 80%; max-width: 600px; font-size: larger;"  >
		{{ form.as_table}}
	</table>
  
	<div style="display: flex; justify-content: center;">
    <button type="submit" class="btn" style="background-color: black; color: antiquewhite; border: none; padding: 20px 40px; 
      border-radius: 5px; font-size: 16px; height: 50px; text-align: center;padding: 10px 15px; width: 200px;">Submit</button>
  </div>
  
</form>
</div>
<script>
	const eventdateEl = document.getElementById('id_event_date');
	M.Datepicker.init(eventdateEl, {
		format: 'yyyy-mm-dd', 
		defaultDate: new Date(),
		setDefaultDate: true,
		autoClose: true
	})

	const selectEl = document.getElementById('id_event_type');
	M.FormSelect.init(selectEl)

    const eventstart = document.getElementById('id_start_time');
    const eventend = document.getElementById('id_end_time');
    M.Timepicker.init(eventstart, twelveHour=false)
    M.Timepicker.init(eventend, twelveHour=false)
</script>
</div>
</div>
{% endblock content %}