{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DEVentful</title>
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">
	
</head>

<body style="color: blue; background-image: url('https://i.imgur.com/ty48lKQ.png'); background-position: center; font-family:Inter;">
	<header class="header-menu" style="color:red;">
		<nav>
			<div >
				<ul>
					<li><a href="/">&nbsp;&nbsp; DEVentful</a></li>
				</ul>
				<ul>
					<li><a href="{% url 'about' %}">About</a></li>
				<ul class="right">
				</ul>
			</div>
		</nav>
	</header>
	<main class="container">
		{% block content %}
		{% endblock %}
	</main>
	<footer class="page-footer">
		<div class="right">All Rights Reserved, &copy; 2023 DEVentful &nbsp;</div>
	</footer>
</body>

</html>