{% extends 'base.html' %}



{% block content %}
    <section class="hero">
        
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <div class="hero-content">
                        <h1 class="text">Plan it. Live it. Love it.</h1>
                        
                        
                        <div class="scroll-container">
                            <div class="scroll-content">
                              <img url="https://i.imgur.com/fsuSgPH.jpg"/>
                            </div>
                          </div>
                         <a href="{% url 'events_index' %}" class="btn" style="color:black; background-color: white; display: block; margin: 0 auto;">Get Started</a>
                    </div>
                </div>
                
            </div>
        </div>
        <img class="responsive-img" url="https://i.imgur.com/5pVa76S.jpg"/>
    </section>
{% endblock content %}
