{% extends 'base.html' %}



{% block content %}
    <section class="hero">
        
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <div class="hero-content">
                        <h1>Plan it. Live it. Love it.</h1>
                        <h3>DEVentful Offerings</h3>
                       <div class="card-container">
                        <div class="card">
                        <h5>Weddings</h5>
                        <p>Let us plan your momentous day with our sophisticated wedding event planning service.We manage everything so you dont have to.</p>
                        <img url="https://i.imgur.com/TrEDJBX.jpg"/>
                    </div>
            
                    <div class="card">
                        <h5>Celebrations</h5>
                        <p>Our event planners can plan anniversary celebrations,graduation parties,birthday parties and more.</p>
                        <img url="https://i.imgur.com/fsuSgPH.jpg"/>
                    </div>
                    <div class="card">
                        <h5>Business events</h5>
                        <p>Let our planners plan your business functions,conventions,trade shows,corporate parties,and more.</p>
                        <img url="https://i.imgur.com/maa8zzo.jpg"/>
                    </div>
                </div>
            </div>
                         <a href="#" class="btn" style="color:black; background-color: white; align-items: center;">Get Started</a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
{% endblock content %}
