
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@0,100;1,100&family=Bruno+Ace&family=Chakra+Petch:wght@300&family=Climate+Crisis&family=Courgette&family=Oswald:wght@200;700&family=Poiret+One&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

main {
    flex: 1 0 auto;
    
}

footer.page-footer {
  padding-top: 0;
  text-align: right;  
}

h1{
  font-family:"Clarkson",Helvetica,sans-serif;
  text-align: center;
  margin: 0;
  padding: 1rem;
  display: inline-block;
  animation: typing 3s steps(20) forwards;
  text-shadow: 0 0 transparent;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

header img {
  width: 103px;
  height: auto;
  float: left;
  margin-right: 20px;
}


.card-container {
  height: 300px;
  overflow: auto;
  animation: scroll 10s linear infinite;
}

.container {
  display: flex;
}

.card {
  width: 50%;
}

.scroll-container {
  overflow: hidden;
  position: relative;
}

.scroll-content {
  animation: scroll 3s ease-in-out infinite;
  position: relative;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}


h3 {
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.all-of-vendor{
  flex-direction: row;
  width: 100%;
}

.top-of-vendor{
  padding-top: 50px;
  margin: 0 auto !important;
  display: flex;
  flex-direction: row;
  width: 100% !important;
  flex-wrap: wrap;
  justify-content: center;
}

#vendor-info{
  width:100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 20px;
  margin: 0;
}

#card-content{
  display:flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-evenly;
  width:100%;
}

.vendor-blurb{
  padding:5px;
}

#add-photo-div{
  width:45%;
  text-align: center;
}

#choose-file{
  margin: auto 0; 
}

#upload-photo-btn{
  margin: 0 auto;
  color: white;
}

#assoc_vendor{
  width: 45%;
  text-align: center;
}

#photo_and_vendor{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0 25px 0;
}

#add-review{
  width:50%;
  margin: 0 auto;
}

#no-review-title{
  text-align:center;
  padding-bottom: 15px;
}

#vendor-title{
  font-size:45px;
  padding-top: 15px;
}

#top-events-detail{
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
  justify-content: space-around;
}

#map-container{
  border: solid grey 1px !important;
  padding: 15px !important;
}

#vendor-on-event{
  text-align: center;
}

#events-detail-all{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#vendor-area{
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
#event-detail-card{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#event-card-left, #event-card-right{
  text-align: center;
  width:50%;
}
.card-action{
  text-align: center;
  gap: 50px;
}