
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
   
   
}

main {
    flex: 1 0 auto;
    
  }



  footer.page-footer {
    padding-top: 0;
    text-align: right;  
  }



  
 h1{
    font-family:"Clarkson",Helvetica,sans-serif;
   
    text-align: center;
    margin: 0;
    padding: 1rem;
    display: inline-block;
    animation: typing 3s steps(20) forwards;
    text-shadow: 0 0 transparent;
    
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  
header img {
    width: 100px;
  height: 65px;
  float: left;
  margin-right: 20px;
}

nav{
height: 150px;
}


.card-container {
height: 300px; 
overflow: auto; 
}
.card-container {
height: 300px;
overflow: auto;
animation: scroll 10s linear infinite;
}

@keyframes scroll {
0% {
    transform: translateY(0);
}
100% {
    transform: translateY(-100%); 
}
}


.container {
  display: flex;
}

.card {
  width: 50%;
}


.scroll-container {
  overflow: hidden;
  position: relative;
}

.scroll-content {
  animation: scroll 3s ease-in-out infinite;
  position: relative;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}


h3{
  text-align: center;
  justify-content: center;
  justify-items: center;
}
